student-valid.dtd

<!ELEMENT houses (house*)>
<!ELEMENT house (room+)>
<!ELEMENT room (dimensions,windows,furniture*)>
<!ELEMENT dimensions (width,length)>
<!ELEMENT windows (window*)>
<!ELEMENT window (elevation,width,height)>
<!ELEMENT furniture (#PCDATA)>
<!ELEMENT width (#PCDATA)>
<!ELEMENT height (#PCDATA)>
<!ELEMENT length EMPTY>
<!ELEMENT elevation (#PCDATA)>